header > nav {
	background: #ffcb04 !important;
	height: 180px;
}

.navbar-menu {
	background:#424242;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.navbar-menu > .navbar-header > a,
.navbar-menu > .collapse > ul.nav > li > a {
	color:white;
}

.navbar-menu > .navbar-header > a:hover,
.navbar-menu > .collapse > ul.nav > li > a:hover {
	color: white;
	background: #626262;
}

header > nav {
	line-height: 180px;
}

.search-form > .form-group > input, 
.search-form > button {
	height: 50px;
	font-family: Serif;
	font-size: 20px;
}

.search-form > button {
	color: #f0f0f0;
	width: 120px;
	background: #e93f46 !important;
	border: 1px solid #d83a41;
}

.search-form > button:hover {
	background: #d83a41;
	color: #f0f0f0;
	transition: all 0.6s;
}

.search-form > .form-group > input {
	width: 500px;
} 

.center {
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

button > span {
	margin-right: 10px;
}

body > .site-body {
	background: #000 !important;
}